<div class="p-4 bg-gray-50 rounded-xl relative">
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-4 lg:gap-[106px] mb-4" >

        <div class="flex-1 space-y-4 lg:col-span-2 w-full min-h-full">
            <!-- Dynamic Sections -->
            <div *ngFor="let section of sections" class="bg-white rounded-lg py-4 px-3 shadow-custom">
                <h2 class="text-base font-semibold mb-4 text-slate-900">{{ section.title }}</h2>
                <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-6">
                    <div *ngFor="let service of section.services"
                        class="flex flex-col items-center justify-center cursor-pointer hover:bg-gray-50 rounded-lg p-4">
                        <span class="size-12 flex-shrink bg-primary rounded-full flex justify-center items-center">
                            <img [src]="service.icon" alt="service logo">
                        </span>
                        <p class="text-base font-medium mt-2 text-center">{{ service.title }}</p>
                    </div>
                </div>
            </div>


        </div>

        <!-- Beneficiaries Section -->
        <div class="lg:w-80 flex-shrink-0 flex flex-col lg:col-span-1 justify-between relative bg-white rounded-lg h-full py-4 px-2 shadow-custom min-h-full">

            <div class="mb-4">
                <h2 class="text-lg font-bold text-primary_dark mb-4">Last Beneficiaries</h2>
                <div class="space-y-4">
                    <div *ngFor="let beneficiary of beneficiaries"
                        class="flex flex-col bg-gray-50 rounded-lg px-2 py-4">
                        <p class="text-sm font-bold text-primary">{{ beneficiary.name }}</p>
                        <p class="text-xs text-gray-500">{{ beneficiary.account }}</p>
                        <p class="text-sm font-bold text-black mt-4">{{ beneficiary.accountNumber }}</p>
                    </div>
                </div>
            </div>

            <!-- In-App Message -->
            <div class="bg-highlight_light p-4 rounded z-20">
                <div class="flex items-center gap-3">
                    <i class="fa-light fa-circle-exclamation text-base cursor-pointer text-black"></i>
                    <div>
                        <p class="text-sm text-black">Please complete your eKYC Form to enjoy your banking services!</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Info Message -->
    <div class="flex items-center justify-start gap-3 bg-gray_200 py-6 h-[70px] px-3 rounded-lg ">
        <i class="fa-light fa-circle-exclamation text-black"></i>
        <p class="text-xs text-black">You Can Make Quick Transfer By Clicking On The Following</p>
    </div>
</div>