<div class="mb-[10px]">
    <button *ngIf="billselectedIndex >= 0 && billselectedIndex <= 2" class="rounded-lg p-3 bg-[#F1F1F1]">
        <i class="fa-solid fa-arrow-left"></i>
        <span class="text-base font-semibold ml-4">Back</span>
    </button>

    <!-- Main Screen Button (Visible in Step 3) -->
    <button *ngIf="billselectedIndex === 3" class="rounded-lg p-3 bg-[#F1F1F1]">
        <i class="fa-solid fa-arrow-left"></i>
        <span class="text-base font-semibold ml-4">Main Screen</span>
    </button>
</div>

<div class="p-4 bg-gray-50 rounded-xl relative">
    <div class="grid grid-cols-1 xl:grid-cols-3 gap-4 lg:gap-[106px] mb-4">

        <!-- left Sections -->
        <div class="flex-1 space-y-4 lg:col-span-2 w-full min-h-full bg-white py-6 px-3">
            <app-provider></app-provider>
        </div>

        <!-- right Section -->
        <div
            class="lg:w-80 relative flex-shrink-0 flex flex-col lg:col-span-1 justify-between bg-white rounded-lg h-full py-4 px-2 shadow-custom min-h-full">
            <div class="bg-highlight_light p-4 rounded absolute top-4 left-4 right-4 z-50">
                <div class="flex items-center gap-3">
                    <i class="fa-light fa-circle-exclamation text-base cursor-pointer text-black"></i>
                    <div>
                        <p class="text-sm text-black">Please complete your eKYC Form to enjoy your banking services!</p>
                    </div>
                </div>
            </div>
            <h4 class="text-primary text-lg font-semibold mb-4">
                Last Top Up
            </h4>
            <div class="space-y-4">
                <div *ngFor="let beneficiary of transactions" class="flex flex-col bg-gray-50 rounded-lg px-2 py-4">
                    <span class="w-fit h-5 rounded flex justify-center items-center mb-4 px-2.5 text-white text-xs"
                        [ngClass]="getHighlightClass(beneficiary.type)">
                        {{ beneficiary.type }}
                    </span>
                    <p class="text-sm font-bold text-primary">{{ beneficiary.phoneNumber }}</p>
                    <p class="text-xs text-gray-500">{{ beneficiary.date }}</p>
                    <p class="text-sm font-bold text-black mt-4">{{ beneficiary.amount }}</p>
                </div>
            </div>

        </div>

    </div>

</div>