<div class="p-4 bg-gray-50 rounded-xl relative">
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-4 lg:gap-[106px] mb-4">

        <div class="flex-1 space-y-4 lg:col-span-2 w-full min-h-full">
            <!-- Dynamic Sections -->
            <div class="rounded-lg bg-white px-3 py-6">
                <h2 class="text-base font-semibold text-black mb-4">Profile Management</h2>
                <div class="bg-white rounded-lg shadow-sm">
                    <div class="space-y-4">
                        <!-- Profile Info -->
                        <div class="flex items-center justify-between pb-4 border-b bg-[#F9F9F9] py-4 px-2 rounded-lg">
                            <div>
                                <h3 class="font-bold text-sm text-[#0D475B]">{{ profile.name }}</h3>
                                <p class="text-xs font-light text-black">{{ profile.email }}</p>
                                <span class="text-[8px] font-bold text-[#003649]">{{ profile.accountType }}</span>
                            </div>
                            <div class="cursor-pointer">
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"
                                    fill="none">
                                    <rect width="32" height="32" rx="6" fill="#08C487" />
                                    <path
                                        d="M6 26.548V23.548H26V26.548H6ZM10 18.9615H11.2365L19.5365 10.6767L18.9078 10.0385L18.2848 9.425L10 17.725V18.9615ZM8.5 20.4615V17.0865L19.7098 5.89225C19.8546 5.74741 20.019 5.63783 20.203 5.5635C20.3868 5.48916 20.5782 5.452 20.777 5.452C20.976 5.452 21.1687 5.48916 21.355 5.5635C21.5413 5.63783 21.7121 5.75258 21.8673 5.90775L23.0693 7.125C23.2244 7.26983 23.3366 7.43575 23.4058 7.62275C23.4749 7.80958 23.5095 8.00275 23.5095 8.20225C23.5095 8.38925 23.4744 8.57516 23.4042 8.76C23.3341 8.945 23.2224 9.11408 23.0693 9.26725L11.875 20.4615H8.5ZM19.5365 10.6767L18.9078 10.0385L18.2848 9.425L19.5365 10.6767Z"
                                        fill="white" />
                                </svg>
                            </div>
                        </div>

                        <!-- Reset Password -->
                        <div class="flex flex-col items-start justify-start bg-[#F9F9F9] py-4 px-4 rounded-lg w-full">
                            <!-- Header Section -->
                            <div class="w-full flex items-center justify-between">
                                <h3 class="font-bold text-sm text-[#0D475B]">Reset Password</h3>

                                <!-- SVG Edit Icon (Show First Step on Click) -->
                                <div class="cursor-pointer" *ngIf="resetFlow" (click)="showFirstStep()">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"
                                        fill="none">
                                        <rect width="32" height="32" rx="6" fill="#08C487" />
                                        <path
                                            d="M6 26.548V23.548H26V26.548H6ZM10 18.9615H11.2365L19.5365 10.6767L18.9078 10.0385L18.2848 9.425L10 17.725V18.9615ZM8.5 20.4615V17.0865L19.7098 5.89225C19.8546 5.74741 20.019 5.63783 20.203 5.5635C20.3868 5.48916 20.5782 5.452 20.777 5.452C20.976 5.452 21.1687 5.48916 21.355 5.5635C21.5413 5.63783 21.7121 5.75258 21.8673 5.90775L23.0693 7.125C23.2244 7.26983 23.3366 7.43575 23.4058 7.62275C23.4749 7.80958 23.5095 8.00275 23.5095 8.20225C23.5095 8.38925 23.4744 8.57516 23.4042 8.76C23.3341 8.945 23.2224 9.11408 23.0693 9.26725L11.875 20.4615H8.5Z"
                                            fill="white" />
                                    </svg>
                                </div>
                            </div>

                            <div *ngIf="showStep1 && !showStep2" class="w-full mt-8">
                                <div class="w-full flex justify-start">
                                    <p class="text-[#003649] text-base font-medium mb-2 text-center">
                                        Please Enter Your Password In <br />
                                        Order To Proceed
                                    </p>
                                </div>
                                <div class="flex gap-2 mt-8">
                                    <input type="text" maxlength="1"
                                        class="w-12 h-12 text-center border-b border-gray-400 bg-transparent outline-none transition-all duration-200"
                                        [(ngModel)]="otp1" (input)="moveToNext($event, otp2Ref)"
                                        [ngClass]="{'!bg-[#EFF1F2] rounded-t-[3px] border-b-4 border-gray-800': otp1}"
                                        #otp1Ref />

                                    <input type="text" maxlength="1"
                                        class="w-12 h-12 text-center border-b border-gray-400 bg-transparent outline-none transition-all duration-200"
                                        [(ngModel)]="otp2" (input)="moveToNext($event, otp3Ref)"
                                        [ngClass]="{'!bg-[#EFF1F2] rounded-t-[3px] border-b-4 border-gray-800': otp2}"
                                        #otp2Ref />

                                    <input type="text" maxlength="1"
                                        class="w-12 h-12 text-center border-b border-gray-400 bg-transparent outline-none transition-all duration-200"
                                        [(ngModel)]="otp3" (input)="moveToNext($event, otp4Ref)"
                                        [ngClass]="{'!bg-[#EFF1F2] rounded-t-[3px] border-b-4 border-gray-800': otp3}"
                                        #otp3Ref />

                                    <input type="text" maxlength="1"
                                        class="w-12 h-12 text-center border-b border-gray-400 bg-transparent outline-none transition-all duration-200"
                                        [(ngModel)]="otp4" (input)="moveToNext($event, otp5Ref)"
                                        [ngClass]="{'!bg-[#EFF1F2] rounded-t-[3px] border-b-4 border-gray-800': otp4}"
                                        #otp4Ref />

                                    <input type="text" maxlength="1"
                                        class="w-12 h-12 text-center border-b border-gray-400 bg-transparent outline-none transition-all duration-200"
                                        [(ngModel)]="otp5" (input)="moveToNext($event, null)"
                                        [ngClass]="{'!bg-[#EFF1F2] rounded-t-[3px] border-b-4 border-gray-800': otp5}"
                                        #otp5Ref />
                                </div>

                                <p class="text-red text-sm text-left font-normal mt-8">
                                    We Just Sent One OTP To Your Email
                                </p>
                            </div>

                            <div *ngIf="showStep2" class="mt-8">
                                <form [formGroup]="passwordForm">
                                    <div class="relative mb-6">
                                        <label class="block text-black font-normal text-sm mb-2">New Password</label>
                                        <div class="flex items-center border-b-2 border-yellow-500 py-2">
                                            <span class="text-yellow-500">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                    viewBox="0 0 24 24" fill="none">
                                                    <path
                                                        d="M3 20C5.33579 17.5226 8.50702 16 12 16C15.493 16 18.6642 17.5226 21 20M16.5 7.5C16.5 9.98528 14.4853 12 12 12C9.51472 12 7.5 9.98528 7.5 7.5C7.5 5.01472 9.51472 3 12 3C14.4853 3 16.5 5.01472 16.5 7.5Z"
                                                        stroke="url(#paint0_linear_238_128)" stroke-width="1.5"
                                                        stroke-linecap="round" stroke-linejoin="round" />
                                                    <defs>
                                                        <linearGradient id="paint0_linear_238_128" x1="3.66349" y1="3"
                                                            x2="24.6663" y2="30.9068" gradientUnits="userSpaceOnUse">
                                                            <stop stop-color="#FCD759" stop-opacity="0.9686" />
                                                            <stop offset="1" stop-color="#DBA434" />
                                                        </linearGradient>
                                                    </defs>
                                                </svg>
                                            </span>
                                            <input [type]="isshowPassword ? 'text' : 'password'" id="changePassword"
                                                formControlName="password"
                                                class="ml-2 w-full outline-none text-lg text-gray-900 bg-transparent"
                                                placeholder="Enter new password">
                                            <button class="btn-password" type="button"
                                                (click)="togglePasswordVisibility('password')">
                                                <i [class.fa-eye-slash]="!isshowPassword"
                                                    [class.fa-eye]="isshowPassword" class="fa-regular">
                                                </i>
                                            </button>
                                        </div>
                                        <div class="px-1 w-100 position-absolute mt-1">
                                            <small class="error text-red d-flex flex-column space-y-1.5"
                                                *ngIf="f['password'].invalid && (f['password'].touched || submitted)">
                                                <span *ngIf="f['password'].errors?.['required']">Password is
                                                    required</span>
                                                <span *ngIf="f['password'].errors?.['minlength']">8 characters
                                                    minimum</span>
                                                <span *ngIf="f['password'].errors?.['pattern']">
                                                    Password must contain at least one uppercase letter and one special
                                                    character.
                                                </span>
                                            </small>
                                        </div>
                                    </div>

                                    <div class="mb-6">
                                        <label class="block text-black font-normal text-sm mb-2">Re-New Password</label>
                                        <div class="flex items-center border-b-2 border-yellow-500 py-2">
                                            <span class="text-yellow-500">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                    viewBox="0 0 24 24" fill="none">
                                                    <path
                                                        d="M3 20C5.33579 17.5226 8.50702 16 12 16C15.493 16 18.6642 17.5226 21 20M16.5 7.5C16.5 9.98528 14.4853 12 12 12C9.51472 12 7.5 9.98528 7.5 7.5C7.5 5.01472 9.51472 3 12 3C14.4853 3 16.5 5.01472 16.5 7.5Z"
                                                        stroke="url(#paint0_linear_238_128)" stroke-width="1.5"
                                                        stroke-linecap="round" stroke-linejoin="round" />
                                                    <defs>
                                                        <linearGradient id="paint0_linear_238_128" x1="3.66349" y1="3"
                                                            x2="24.6663" y2="30.9068" gradientUnits="userSpaceOnUse">
                                                            <stop stop-color="#FCD759" stop-opacity="0.9686" />
                                                            <stop offset="1" stop-color="#DBA434" />
                                                        </linearGradient>
                                                    </defs>
                                                </svg>
                                            </span>
                                            <input [type]="isshowConfirmPassword ? 'text' : 'password'"
                                                formControlName="confirmPassword"
                                                class="ml-2 w-full outline-none text-lg text-gray-900 bg-transparent"
                                                placeholder="Re-enter new password">
                                            <button class="btn-password" type="button"
                                                (click)="togglePasswordVisibility('confirmPassword')">
                                                <i [class.fa-eye-slash]="!isshowConfirmPassword"
                                                    [class.fa-eye]="isshowConfirmPassword" class="fa-regular">
                                                </i>
                                            </button>
                                        </div>
                                        <div class="px-1 w-100 position-absolute mt-1">
                                            <small class="error text-red d-flex flex-column space-y-1.5"
                                                *ngIf="f['confirmPassword'].invalid && (f['confirmPassword'].touched || submitted)">
                                                <span *ngIf="f['confirmPassword'].errors?.['required']">Confirm password
                                                    is
                                                    required.</span>
                                                <span *ngIf="f['confirmPassword'].errors?.['mismatch']">Passwords do not
                                                    match.</span>
                                            </small>
                                        </div>
                                    </div>
                                    <button (click)="savePassword()" type="submit"
                                        class="w-full max-w-[117px] bg-[#003649] text-white py-2 px-4 rounded-full text-lg font-medium">Save</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- User Management Section -->
            <div class="rounded-lg bg-white px-3 py-6">
                <h2 class="text-base font-semibold text-black mb-4">User Management</h2>
                <div class="bg-white rounded-lg shadow-sm">
                    <div class="space-y-6">
                        <!-- Loop Through Users -->
                        <div *ngFor="let user of users; let last = last"
                            class="flex items-center justify-between pb-6 border-b bg-[#F9F9F9] py-4 px-2 rounded-lg"
                            [class.border-b-0]="last">
                            <div>
                                <h3 class="font-bold text-sm text-[#0D475B]">{{ user.name }}</h3>
                                <p class="text-xs font-light text-black">{{ user.email }}</p>
                                <span class="inline-block px-3 py-1 text-xs font-medium rounded-full mt-2 text-white"
                                    [ngClass]="user.roleColor">
                                    {{ user.role }}
                                </span>
                            </div>
                            <div class="cursor-pointer">
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"
                                    fill="none">
                                    <rect width="32" height="32" rx="6" fill="#08C487" />
                                    <path
                                        d="M6 26.548V23.548H26V26.548H6ZM10 18.9615H11.2365L19.5365 10.6767L18.9078 10.0385L18.2848 9.425L10 17.725V18.9615ZM8.5 20.4615V17.0865L19.7098 5.89225C19.8546 5.74741 20.019 5.63783 20.203 5.5635C20.3868 5.48916 20.5782 5.452 20.777 5.452C20.976 5.452 21.1687 5.48916 21.355 5.5635C21.5413 5.63783 21.7121 5.75258 21.8673 5.90775L23.0693 7.125C23.2244 7.26983 23.3366 7.43575 23.4058 7.62275C23.4749 7.80958 23.5095 8.00275 23.5095 8.20225C23.5095 8.38925 23.4744 8.57516 23.4042 8.76C23.3341 8.945 23.2224 9.11408 23.0693 9.26725L11.875 20.4615H8.5ZM19.5365 10.6767L18.9078 10.0385L18.2848 9.425L19.5365 10.6767Z"
                                        fill="white" />
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>