<div class="tw-p-6" >
    <img src="../../../../../assets/images/svg/Group 323055.svg" class="tw-mx-auto tw-mt-5" alt="">
    <h5
        class="tw-font-outfit tw-text-[28px] tw-leading-9 tw-font-semibold !tw-text-center tw-text-[#303030] tw-mx-auto tw-mt-12 tw-mb-3">
        You’ve earned ${{this.nzModalData.earnedAmunt}}!</h5>
    <p
        class="tw-font-outfit tw-text-[18px] tw-leading-7 !tw-text-center tw-font-normal tw-text-[#838383] tw-mx-auto tw-mb-3">
        Your friend signed up using your referral.</p>
</div>