<div class="welcome">
    <div
        class="flex flex-col sm:flex-row items-start sm:items-center justify-between mb-6 bg-gray_250 rounded-lg h-[68.8px] p-4 box-border">
        <h2 class="text-lg font-semibold mb-2 sm:mb-0">Benefiters</h2>
        <button class="text-white bg-primary text-lg font-normal flex gap-1 h-[50px] p-3 items-center rounded-lg"><span
                class="text-lg font-semibold">Add
                New</span> Benefiters
            <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" viewBox="0 0 27 27" fill="none">
                <mask id="mask0_17_8645" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="27"
                    height="27">
                    <rect x="0.920532" y="0.560547" width="25.6797" height="25.6797" fill="#D9D9D9" />
                </mask>
                <g mask="url(#mask0_17_8645)">
                    <path
                        d="M6.45553 21.6923V14.1405H4.31555V12.5356H10.2005V14.1405H8.06051V21.6923H6.45553ZM6.45553 9.98417V5.10742H8.06051V9.98417H6.45553ZM10.8179 9.98417V8.37918H12.9579V5.10742H14.5628V8.37918H16.7028V9.98417H10.8179ZM12.9579 21.6923V12.5356H14.5628V21.6923H12.9579ZM19.4602 21.6923V18.4205H17.3202V16.8155H23.2051V18.4205H21.0652V21.6923H19.4602ZM19.4602 14.2641V5.10742H21.0652V14.2641H19.4602Z"
                        fill="white" />
                </g>
            </svg>
        </button>
    </div>

    <div class="h-0.5 gradient w-full my-2">
    </div>

    <div class="relative">
        <nz-tabset>

            <nz-tab nzTitle="Bank Accounts">
                <app-table></app-table>
            </nz-tab>

            <nz-tab nzTitle="Meters">
                <app-table></app-table>
            </nz-tab>

            <nz-tab nzTitle="Phone Number">
                <app-table></app-table>
            </nz-tab>
        </nz-tabset>
    </div>
</div>