<div >
    <div class="mt-10 max-w-[346px] w-full mx-auto mb-4 flex flex-col justify-center">
        <h5 class="font-medium text-base text-black mb-[18px] text-center capitalize">
            incorrect password or any digits 
        </h5>
        <img src="./../../../../assets/images/SVG/password.svg" alt=""
            class="mb-2.5 mx-auto max-w-[133px] max-h-[133px] w-full h-full">
        <span class="text-red font-medium text-lg mb-5 text-center">******</span>
        <p class="text-sm font-light text-black text-center">policy document policy documentpolicy document
            policy document policy document </p>
    </div>
    <button
        class="max-w-[454px] w-full mx-auto font-semibold rounded-lg flex justify-center items-center h-14 text-lg bg-black mb-10 text-white">
        login Again
    </button>
</div>