<div>
    <div class="w-full flex justify-start">
        <p class="text-[#003649] text-base font-medium mb-2 text-center">
            Please Enter Your Password In <br />
            Order To Proceed
        </p>
    </div>
    <div class="flex gap-2 mt-8">
        <input type="text" maxlength="1"
            class="w-12 h-12 text-center border-b border-gray-400 bg-transparent outline-none transition-all duration-200"
            [(ngModel)]="otp1" (input)="moveToNext($event, otp2Ref)" (keypress)="allowOnlyNumbers($event)"
            [ngClass]="{'!bg-[#EFF1F2] rounded-t-[3px] border-b-4 border-gray-800': otp1}" #otp1Ref />

        <input type="text" maxlength="1"
            class="w-12 h-12 text-center border-b border-gray-400 bg-transparent outline-none transition-all duration-200"
            [(ngModel)]="otp2" (input)="moveToNext($event, otp3Ref)" (keypress)="allowOnlyNumbers($event)"
            [ngClass]="{'!bg-[#EFF1F2] rounded-t-[3px] border-b-4 border-gray-800': otp2}" #otp2Ref />

        <input type="text" maxlength="1"
            class="w-12 h-12 text-center border-b border-gray-400 bg-transparent outline-none transition-all duration-200"
            [(ngModel)]="otp3" (input)="moveToNext($event, otp4Ref)" (keypress)="allowOnlyNumbers($event)"
            [ngClass]="{'!bg-[#EFF1F2] rounded-t-[3px] border-b-4 border-gray-800': otp3}" #otp3Ref />

        <input type="text" maxlength="1"
            class="w-12 h-12 text-center border-b border-gray-400 bg-transparent outline-none transition-all duration-200"
            [(ngModel)]="otp4" (input)="moveToNext($event, otp5Ref)" (keypress)="allowOnlyNumbers($event)"
            [ngClass]="{'!bg-[#EFF1F2] rounded-t-[3px] border-b-4 border-gray-800': otp4}" #otp4Ref />

        <input type="text" maxlength="1"
            class="w-12 h-12 text-center border-b border-gray-400 bg-transparent outline-none transition-all duration-200"
            [(ngModel)]="otp5" (input)="moveToNext($event, null)" (keypress)="allowOnlyNumbers($event)"
            [ngClass]="{'!bg-[#EFF1F2] rounded-t-[3px] border-b-4 border-gray-800': otp5}" #otp5Ref />
    </div>

    <p *ngIf="showMessage" class="text-red text-sm text-left font-normal mt-8">
        We Just Sent One OTP To Your Email
    </p>
</div>