<div class="max-h-screen h-full flex flex-col lg:flex-row overflow-hidden">
  <!-- Mobile Header -->
  <header class="lg:hidden bg-[#003049] text-white p-4 flex justify-between items-center">
    <img src="../.././../assets/images/logo (2).svg" alt="Bank Logo" class="h-8">
    <button (click)="toggleMobileMenu()">
      <!-- <lucide-x *ngIf="isMobileMenuOpen" class="w-6 h-6"></lucide-x> -->
      <!-- <lucide-menu *ngIf="!isMobileMenuOpen" class="w-6 h-6"></lucide-menu> -->
    </button>
  </header>

  <!-- Sidebar -->
  <app-sidebar [isMobileMenuOpen]="isMobileMenuOpen" (closeMenu)="isMobileMenuOpen = false"
    (pageChanged)="setActivePage($event)">
  </app-sidebar>

  <!-- Main Content -->
  <div class="flex-1 overflow-y-auto bg-[#ffffff]">
    <!-- Desktop Header -->
    <app-header [activePage]="activePage"></app-header>

    <!-- Page Content -->
    <main class="py-4 px-[50px]">
      <router-outlet></router-outlet>
    </main>
  </div>

</div>