<div class="mb-8" *ngIf="currentStep < 1">
    <div class="flex flex-wrap justify-start gap-4">
        <button *ngFor="let provider of providers" class="flex items-center gap-2"
            [class.opacity-40]="!provider.active">
            <div class="flex h-12 w-12 items-center justify-center rounded-full" [ngClass]="provider.color">
                <img [src]="provider.src" alt="">
            </div>
            <span class="text-base font-medium">{{ provider.label }}</span>
        </button>
    </div>
</div>

<nz-tabset class="mb-8 provider" [(nzSelectedIndex)]="selectedIndex" (nzSelectedIndexChange)="onTabClick($event)"
    *ngIf="currentStep < 1">
    <nz-tab nzTitle="Bank Account">
        <form [formGroup]="firstForm" (ngSubmit)="firstonSubmit()">
            <div class="relative mb-6">
                <label class="block text-black font-normal text-sm mb-2">Account Number</label>
                <nz-select formControlName="anumber" [(ngModel)]="selectedValue"
                    class="select-number w-full h-[48px] items-center flex">
                    @for (option of listOfOption; track option) {
                    <nz-option [nzLabel]="option" [nzValue]="option"></nz-option>
                    }
                </nz-select>
            </div>

            <app-input-field [control]="getfirstForm('cif')" [submitted]="firstsubmitted" label="CIF Number"
                type="number" placeholder="Enter number">
            </app-input-field>

            <app-input-field [control]="getfirstForm('benefiter')" [submitted]="firstsubmitted" label="Benefiter Label"
                type="text" placeholder="Enter Benefiter">
            </app-input-field>

            <div class="flex gap-3 pt-4">
                <button type="submit" class="btn-primary  h-12 max-w-[351px] !w-full">Save</button>
                <button type="button" class="btn-ghost h-12  max-w-[88px] !w-full"
                    (click)="goToPreviousStep()">Cancel</button>
            </div>
        </form>
    </nz-tab>
    <nz-tab nzTitle="Mobile Number" [nzDisabled]="!firstsubmitted">
        <form [formGroup]="secondForm" (ngSubmit)="secondonSubmit()">
            <!-- Number Field -->
            <div>
                <app-input-field [control]="getsecondForm('name')" [submitted]="secondsubmitted" label="Name"
                    type="text" placeholder="Enter name">
                </app-input-field>

                <app-input-field [control]="getsecondForm('mnumber')" [submitted]="secondsubmitted" label="Phone number"
                    type="number" placeholder="Enter Phone Number">
                </app-input-field>
            </div>

            <!-- Action Buttons -->
            <div class="flex gap-3 pt-4">
                <button type="submit" class="btn-primary  h-12 max-w-[351px] !w-full">Save</button>
                <button type="button" class="btn-ghost h-12  max-w-[88px] !w-full"
                    (click)="goToPreviousStep()">Cancel</button>
            </div>
        </form>
    </nz-tab>
    <nz-tab nzTitle="Meter" [nzDisabled]="!secondsubmitted">
        <form [formGroup]="thirdForm" (ngSubmit)="thirdSubmit()">
            <div *ngIf="currentStep === 0">
                <app-input-field [control]="getthirdForm('metername')" [submitted]="thirdsubmitted" label="Meter Name"
                    type="text" placeholder="Enter name">
                </app-input-field>

                <app-input-field [control]="getthirdForm('meternumber')" [submitted]="thirdsubmitted"
                    label="Meter Number" type="number" placeholder="Enter number">
                </app-input-field>
            </div>


            <div class="flex gap-3 pt-4">
                <button *ngIf="currentStep === 0" type="submit"
                    class="btn-primary h-12 max-w-[351px] !w-full">Save</button>
                <!-- <button *ngIf="currentStep === 1" type="submit"
                    class="btn-primary h-12 max-w-[351px] !w-full">Confirm</button> -->
                <button type="button" *ngIf="currentStep < 2" class="btn-ghost h-12  max-w-[88px] !w-full"
                    (click)="goToPreviousStep()">Cancel</button>
            </div>
        </form>

    </nz-tab>
</nz-tabset>

<div *ngIf="currentStep >= 1">
    <div *ngIf="currentStep === 1">
        <nz-select formControlName="fournumber" [(ngModel)]="selectedValue"
            class="select-number w-full h-[48px] items-center flex">
            @for (option of listOfOption; track option) {
            <nz-option [nzLabel]="option" [nzValue]="option"></nz-option>
            }
        </nz-select>
        <div class="w-full bg-gray-50 px-2 py-4 rounded-lg mt-6 flex justify-center">
            <app-opt [showMessage]="false"></app-opt>
        </div>
    </div>

    <div *ngIf="currentStep === 2" class="w-full bg-gray-50 px-2 py-4 rounded-lg mt-6">
        <app-payment-details></app-payment-details>
    </div>

    <div class="flex gap-3 pt-4">
        <button *ngIf="currentStep === 1" type="submit" class="btn-primary h-12 max-w-[351px] !w-full"
            (click)="confirmOtp()">Confirm</button>

        <button type="button" *ngIf="currentStep < 2" class="btn-ghost h-12 max-w-[88px] !w-full"
            (click)="goToPreviousStep()">Cancel</button>
    </div>
</div>