<div class="tw-mt-6" *ngFor="let item of videoData; let index = index">
    <!-- <label class="form-label tw-text-xs tw-mt-2"> Img #{{ index + 1 }}</label> -->
    <div
        class="tw-max-w-[432px] tw-rounded-lg tw-flex tw-mb-5 tw-bg-white tw-relative tw-space-x-4 tw-border tw-border-[#E4E7EC] tw-px-3 tw-py-3.5">
        <video [src]="videoPath + item.image" alt="videoThumbnail" [autoplay]="false" class="tw-size-16 tw-object-cover tw-rounded-lg"></video>
        <div class="tw-max-w-[270px] tw-w-full">
            <p class="tw-font-medium tw-text-xs tw-font-outfit tw-text-black tw-w-full tw-truncate">
                {{ item.name }}
            </p>
            <div>
                <span class="tw-font-normal tw-text-xs tw-font-outfit tw-text-[#475467]">{{ item.size }}</span>
                <span class="tw-font-normal tw-text-xs tw-font-outfit tw-text-[#475467]"> - Completed 100%</span>
            </div>
            <div class="tw-w-full tw-h-5 tw-flex tw-items-center">
                <div class="tw-h-2 tw-flex tw-bg-white tw-max-w-[239px] tw-min-w-[239px]">
                    <div class="tw-w-full tw-bg-blue-650 tw-rounded-lg tw-h-full"></div>
                </div>
                <span class="tw-font-medium tw-text-xs tw-font-outfit tw-text-[#344054] tw-ml-2">100%</span>
            </div>
        </div>
        <div class="tw-flex tw-gap-2.5">
            <i class="fas fa-trash-alt tw-cursor-pointer" (click)="deleteImage(index)"></i>
            <!-- <i class="fa-regular fa-pen-to-square tw-cursor-pointer" (click)="triggerEdit(index)" ></i> -->
        </div>
    </div>
</div>

<div class="tw-flex tw-flex-col tw-mt-6" *ngIf="!videoData.length">
    <ng-container>
        <label class="form-label tw-text-xs"> Upload Video <span class="tw-text-red-500">*</span> </label>
        <div class="tw-flex tw-flex-col tw-cursor-pointer tw-rounded-lg tw-items-center tw-border-2 tw-p-10 tw-border-dashed tw-border-gray-500 hover:tw-border-blue-650"
            (click)="triggerFileInput()" (drop)="handleFileDrop($event)" (dragover)="handleDragOver($event)">
            <p class="ant-upload-drag-icon">
                <svg class="tw-mx-auto tw-mb-3" width="46" height="46" viewBox="0 0 46 46" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <rect x="3" y="3" width="40" height="40" rx="20" fill="#F2F4F7" />
                    <rect x="3" y="3" width="40" height="40" rx="20" stroke="#F9FAFB" stroke-width="6" />
                    <g clip-path="url(#clip0_67_8261)">
                        <path
                            d="M26.3335 26.3332L23.0002 22.9999M23.0002 22.9999L19.6669 26.3332M23.0002 22.9999V30.4999M29.9919 28.3249C30.8047 27.8818 31.4467 27.1806 31.8168 26.3321C32.1868 25.4835 32.2637 24.5359 32.0354 23.6388C31.807 22.7417 31.2865 21.9462 30.5558 21.3778C29.8251 20.8094 28.9259 20.5005 28.0002 20.4999H26.9502C26.698 19.5243 26.2278 18.6185 25.5752 17.8507C24.9225 17.0829 24.1042 16.4731 23.182 16.0671C22.2597 15.661 21.2573 15.4694 20.2503 15.5065C19.2433 15.5436 18.2578 15.8085 17.3679 16.2813C16.4779 16.7541 15.7068 17.4225 15.1124 18.2362C14.518 19.05 14.1158 19.9879 13.936 20.9794C13.7563 21.9709 13.8036 22.9903 14.0746 23.961C14.3455 24.9316 14.8329 25.8281 15.5002 26.5832"
                            stroke="#475467" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round" />
                    </g>
                    <defs>
                        <clipPath id="clip0_67_8261">
                            <rect width="20" height="20" fill="white" transform="translate(13 13)" />
                        </clipPath>
                    </defs>
                </svg>
            </p>
            <p class="ant-upload-text tw-mb-1 tw-font-outfit tw-text-xs tw-font-normal tw-text-[#475467]">
                <span class="tw-font-semibold tw-text-blue-650"> Click to upload </span>
                or drag and drop
            </p>
            <p class="tw-text-Gray/600 tw-font-semibold tw-text-xxs tw-font-Inter">Recommendations:</p>
            <div class="tw-grid tw-grid-cols-1 md:tw-grid-cols-2 tw-mt-1.5 tw-gap-2.5">
                <p class="tw-font-Inter tw-text-Gray/600 tw-text-center md:tw-text-right tw-font-medium tw-text-xxs">
                    Video resolution:</p>
                <p class="tw-font-Inter tw-text-Gray/600 tw-text-center md:tw-text-left tw-font-medium tw-text-xxs">
                    1080w x 1920h</p>
            </div>
            <div class="tw-grid tw-grid-cols-1 md:tw-grid-cols-2 tw-mt-1.5 tw-gap-2.5">
                <p class="tw-font-Inter tw-text-Gray/600 tw-text-center md:tw-text-right tw-font-medium tw-text-xxs">
                    Minimum resolution:</p>
                <p class="tw-font-Inter tw-text-Gray/600 tw-text-center md:tw-text-left tw-font-medium tw-text-xxs">600w
                    x 600h</p>
            </div>
            <div class="tw-grid tw-grid-cols-1 md:tw-grid-cols-2 tw-mt-1.5 tw-gap-2.5">
                <p class="tw-font-Inter tw-text-Gray/600 tw-text-center md:tw-text-right tw-font-medium tw-text-xxs">
                    Aspect ratio:</p>
                <p class="tw-font-Inter tw-text-Gray/600 tw-text-center md:tw-text-left tw-font-medium tw-text-xxs">9:16
                    (vertical) ideal for Stories</p>
            </div>
            <div class="tw-grid tw-grid-cols-1 md:tw-grid-cols-2 tw-mt-1.5 tw-gap-2.5">
                <p class="tw-font-Inter tw-text-Gray/600 tw-text-center md:tw-text-right tw-font-medium tw-text-xxs">
                    Recommended Duration:</p>
                <p class="tw-font-Inter tw-text-Gray/600 tw-text-center md:tw-text-left tw-font-medium tw-text-xxs">Up
                    to 15 seconds</p>
            </div>
            <div class="tw-grid tw-grid-cols-1 md:tw-grid-cols-2 tw-mt-1.5 tw-gap-2.5">
                <p class="tw-font-Inter tw-text-Gray/600 tw-text-center md:tw-text-right tw-font-medium tw-text-xxs">
                    Maximum Duration:</p>
                <p class="tw-font-Inter tw-text-Gray/600 tw-text-center md:tw-text-left tw-font-medium tw-text-xxs">240
                    minutes</p>
            </div>
            <div class="tw-grid tw-grid-cols-1 md:tw-grid-cols-2 tw-mt-1.5 tw-gap-2.5">
                <p class="tw-font-Inter tw-text-Gray/600 tw-text-center md:tw-text-right tw-font-medium tw-text-xxs">
                    Bitrate:</p>
                <p class="tw-font-Inter tw-text-Gray/600 tw-text-center md:tw-text-left tw-font-medium tw-text-xxs">
                    Greater than or equal to 516 kbps</p>
            </div>
        </div>
    </ng-container>
    <input type="file" #fileInput class="tw-hidden" (change)="onFileChange($event)" accept="video/*" />
    <input type="file" #fileInput2 class="tw-hidden" (change)="onFileChange($event)" accept="video/*" />

    <div class="tw-flex tw-justify-between tw-mt-1.5 tw-items-center">
        <span class="tw-font-medium tw-text-xxs tw-font-Inter">Supported Formats: .MP4, .MOV, or .GIF</span>
        <span class="tw-font-medium tw-text-xxs tw-font-Inter">Maximum File Size: 4 GB</span>
    </div>
</div>