$border: #e7e5e4;
$border-light: rgba(
  $color: #fff,
  $alpha: 0.1,
);
$border-color: #b3b3b3;
$primary: #2e64db;
$btnprimary: #2e64db;
$primaryHover: #2e64db;
$textPrimary: #5d778d;
$bg-white: #fff;
$TextGray: #838383;
$TextlightBlue: #b2b6ff;
$yellow: #ffcc00;
$NavyBlue: #241ea2;
$red: #b3261e;
