$border: #e7e5e4;
$border-light: rgba($color: #fff,
    $alpha: 0.1,
  );
$gray_100: #e5e9eb;
$gray_400: #666666;
$gray_500: #44525F;
$gray_600: #252C32;
$gray_700: #00212D;
$yellow: #e7b742;
$red : #cc3f3f;
$highlight_light: #D69D2F;
$Highlight: #D69D2F;
$primary_dark: #2D385E;
$primary: #003649;
$table_bg : #f3f6f7;