<!-- Provider Selection -->
<div class="mb-8 ">
    <h3 class="mb-5 text-sm font-normal">Select Provider</h3>
    <div class="flex gap-4">
        <button *ngFor="let provider of providers" class="flex items-center gap-2" [class.opacity-40]="!provider.active"
            (click)="toggleProvider(provider)">
            <div class="flex h-12 w-12 items-center justify-center rounded-full" [ngClass]="provider.color">
                <img [src]="provider.src" alt="">
            </div>
            <span class="text-xs font-medium">{{ provider.label }}</span>
        </button>
    </div>
</div>

<nz-tabset class="mb-8 provider">
    <nz-tab nzTitle="Top Up"> <!-- Form Fields -->
        <form [formGroup]="topForm" (ngSubmit)="onSubmit()" class="">
            <!-- Number Field -->
            <div class="relative mb-6">
                <label class="block text-black font-normal text-sm mb-2">Number</label>
                <div class="flex items-center py-2 w-full max-w-[327px] border-b-2 border-solid" [ngClass]="{ 
                        'border-[#FCD759]': !(f['number'].invalid && (f['number'].touched || submitted)), 
                        'border-[#DBA434]': f['number'].invalid && (f['number'].touched || submitted) 
                    }">
                    <span class="text-yellow-500">
                        <i class="fa-regular fa-phone"></i>
                    </span>
                    <input type="text" formControlName="number"
                        class="ml-2 w-full outline-none text-lg text-gray-900 bg-transparent"
                        placeholder="Enter number">
                </div>
                <div class="px-1 w-100 position-absolute mt-1">
                    <small class="error text-red d-flex flex-column space-y-1.5"
                        *ngIf="f['number'].invalid && (f['number'].touched || submitted)">
                        <span *ngIf="f['number'].errors?.['required']">This Field is required</span>
                    </small>
                </div>
            </div>

            <!-- Amount Field -->
            <div class="relative mb-6">
                <label class="block text-black font-normal text-sm mb-2">Amount</label>
                <div class="flex items-center py-2 w-full max-w-[327px] border-b-2 border-solid" [ngClass]="{ 
                        'border-[#FCD759]': !(f['amount'].invalid && (f['amount'].touched || submitted)), 
                        'border-[#DBA434]': f['amount'].invalid && (f['amount'].touched || submitted) 
                    }">
                    <span class="text-yellow-500">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path
                                d="M3 20C5.33579 17.5226 8.50702 16 12 16C15.493 16 18.6642 17.5226 21 20M16.5 7.5C16.5 9.98528 14.4853 12 12 12C9.51472 12 7.5 9.98528 7.5 7.5C7.5 5.01472 9.51472 3 12 3C14.4853 3 16.5 5.01472 16.5 7.5Z"
                                stroke="url(#paint0_linear_238_128)" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <defs>
                                <linearGradient id="paint0_linear_238_128" x1="3.66349" y1="3" x2="24.6663" y2="30.9068"
                                    gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#FCD759" stop-opacity="0.9686" />
                                    <stop offset="1" stop-color="#DBA434" />
                                </linearGradient>
                            </defs>
                        </svg>
                    </span>
                    <input type="text" formControlName="amount"
                        class="ml-2 w-full outline-none text-lg text-gray-900 bg-transparent"
                        placeholder="Enter amount">
                </div>
                <div class="px-1 w-100 position-absolute mt-1">
                    <small class="error text-red d-flex flex-column space-y-1.5"
                        *ngIf="f['amount'].invalid && (f['amount'].touched || submitted)">
                        <span *ngIf="f['amount'].errors?.['required']">Amount is required</span>
                    </small>
                </div>
            </div>

            <!-- Action Buttons -->
            <div class="flex gap-3 pt-4">
                <button type="submit" class="btn-primary  h-12 max-w-[351px] !w-full">Next</button>
                <button type="button" class="btn-ghost h-12  max-w-[88px] !w-full" (click)="topForm.reset()">Cancel</button>
            </div>
        </form>
    </nz-tab>
    <nz-tab nzTitle="Bill Inquiry">Content of Tab Pane 2</nz-tab>
    <nz-tab nzTitle="Scratches">Content of Tab Pane 3</nz-tab>
</nz-tabset>