<!-- Provider Selection -->
<div class="mb-8 ">
    <div class="flex flex-wrap justify-start gap-4">
        <button *ngFor="let provider of providers" class="flex items-center gap-2" [class.opacity-40]="!provider.active"
            (click)="toggleProvider(provider)">
            <div class="flex h-12 w-12 items-center justify-center rounded-full" [ngClass]="provider.color">
                <img [src]="provider.src" alt="">
            </div>
            <span class="text-base font-medium">{{ provider.label }}</span>
        </button>
    </div>
</div>

<nz-tabset class="mb-8 provider" [(nzSelectedIndex)]="selectedIndex" (nzSelectedIndexChange)="onTabClick($event)">
    <nz-tab nzTitle="Top Up">
        <form [formGroup]="topForm" (ngSubmit)="onSubmit()">
            <!-- Number Field -->
            <div class="relative mb-6">
                <label class="block text-black font-normal text-sm mb-2">Number</label>
                <div class="flex items-center py-2 w-full max-w-[327px] border-b-2 border-solid" [ngClass]="{ 
                        'border-[#FCD759]': !(f['number'].invalid && (f['number'].touched || submitted)), 
                        'border-[#DBA434]': f['number'].invalid && (f['number'].touched || submitted) 
                    }">
                    <span class="text-yellow-500">
                        <i class="fa-regular fa-phone"></i>
                    </span>
                    <input type="text" formControlName="number"
                        class="ml-2 w-full outline-none text-lg text-gray-900 bg-transparent"
                        placeholder="Enter number">
                </div>
                <div class="px-1 w-100 position-absolute mt-1">
                    <small class="error text-red d-flex flex-column space-y-1.5"
                        *ngIf="f['number'].invalid && (f['number'].touched || submitted)">
                        <span *ngIf="f['number'].errors?.['required']">This Field is required</span>
                    </small>
                </div>
            </div>

            <!-- Amount Field -->
            <div class="relative mb-6">
                <label class="block text-black font-normal text-sm mb-2">Amount</label>
                <div class="flex items-center py-2 w-full max-w-[327px] border-b-2 border-solid" [ngClass]="{ 
                        'border-[#FCD759]': !(f['amount'].invalid && (f['amount'].touched || submitted)), 
                        'border-[#DBA434]': f['amount'].invalid && (f['amount'].touched || submitted) 
                    }">
                    <span class="text-yellow-500">
                        <i class="fa-regular fa-money-bill"></i>
                    </span>
                    <input type="text" formControlName="amount"
                        class="ml-2 w-full outline-none text-lg text-gray-900 bg-transparent"
                        placeholder="Enter amount">
                </div>
                <div class="px-1 w-100 position-absolute mt-1">
                    <small class="error text-red d-flex flex-column space-y-1.5"
                        *ngIf="f['amount'].invalid && (f['amount'].touched || submitted)">
                        <span *ngIf="f['amount'].errors?.['required']">Amount is required</span>
                    </small>
                </div>
            </div>

            <!-- Action Buttons -->
            <div class="flex gap-3 pt-4">
                <button type="submit" class="btn-primary  h-12 max-w-[351px] !w-full">Next</button>
                <button type="button" class="btn-ghost h-12  max-w-[88px] !w-full"
                    (click)="topForm.reset()">Cancel</button>
            </div>
        </form>
    </nz-tab>
    <nz-tab nzTitle="Bill Inquiry" [nzDisabled]="selectedIndex < 1">
        <form [formGroup]="BillForm" (ngSubmit)="onBillSubmit()">
            <!-- Number Field -->
            <div class="relative mb-6" *ngIf="billselectedIndex === 0">
                <label class="block text-black font-normal text-sm mb-2">Your Number</label>
                <div class="flex items-center py-2 w-full max-w-[327px] border-b-2 border-solid" [ngClass]="{ 
                        'border-[#FCD759]': !(g['secondnumber'].invalid && (g['secondnumber'].touched || Billsubmitted)), 
                        'border-[#DBA434]': g['secondnumber'].invalid && (g['secondnumber'].touched || Billsubmitted) 
                    }">
                    <span class="text-yellow-500">
                        <i class="fa-regular fa-phone"></i>
                    </span>
                    <input type="text" formControlName="secondnumber"
                        class="ml-2 w-full outline-none text-lg text-gray-900 bg-transparent"
                        placeholder="Enter number">
                </div>
                <div class="px-1 w-100 position-absolute mt-1">
                    <small class="error text-red d-flex flex-column space-y-1.5"
                        *ngIf="g['secondnumber'].invalid && (g['secondnumber'].touched || Billsubmitted)">
                        <span *ngIf="g['secondnumber'].errors?.['required']">This Field is required</span>
                    </small>
                </div>
            </div>

            <div *ngIf="billselectedIndex === 1">
                <nz-select formControlName="thirdnumber" [(ngModel)]="selectedValue"
                    class="select-number w-full h-[48px] items-center flex">
                    @for (option of listOfOption; track option) {
                    <nz-option [nzLabel]="option" [nzValue]="option"></nz-option>
                    }
                </nz-select>

                <div class="bg-gray-50 px-2 py-4 rounded-lg w-full mt-6">
                    <p class="font-semibold text-gray-800">Number</p>
                    <p class="font-bold text-lg text-gray-900">+2491234567</p>

                    <p class="font-semibold text-gray-800 mt-3">Mount</p>
                    <p class="font-bold text-lg text-gray-900">SDG 32,000,000</p>

                    <p class="font-semibold text-gray-800 mt-3">Date</p>
                    <p class="font-bold text-lg text-gray-900">22.3.2024</p>

                    <p class="font-semibold text-gray-800 mt-3">Services</p>
                    <p class="font-bold text-lg text-gray-900">MTN Bill Inquiry</p>
                </div>
            </div>

            <div *ngIf="billselectedIndex === 2">
                <nz-select formControlName="fournumber" [(ngModel)]="selectedValue"
                    class="select-number w-full h-[48px] items-center flex">
                    @for (option of listOfOption; track option) {
                    <nz-option [nzLabel]="option" [nzValue]="option"></nz-option>
                    }
                </nz-select>
                <div class="w-full bg-gray-50 px-2 py-4 rounded-lg mt-6 flex justify-center">
                    <app-opt [showMessage]="false"></app-opt>
                </div>
            </div>

            <div *ngIf="billselectedIndex === 3" class="w-full bg-gray-50 px-2 py-4 rounded-lg mt-6">
                <div class="space-y-6">
                    <h1 class="text-lg font-semibold text-gray-900 border-b-2 border-yellow-500 mb-3 pb-2">
                        Payment Completed
                    </h1>

                    <div class="space-y-4">
                        <div>
                            <div class="text-sm font-medium text-gray-600">Number</div>
                            <div class="text-base text-gray-900">{{ paymentDetails.number }}</div>
                        </div>

                        <div>
                            <div class="text-sm font-medium text-gray-600">Account</div>
                            <div class="text-base text-gray-900">{{ paymentDetails.account }}</div>
                        </div>

                        <div>
                            <div class="text-sm font-medium text-gray-600">Amount</div>
                            <div class="text-base text-gray-900">{{ paymentDetails.amount }}</div>
                        </div>

                        <div>
                            <div class="text-sm font-medium text-gray-600">Date</div>
                            <div class="text-base text-gray-900">{{ paymentDetails.date }}</div>
                        </div>

                        <div>
                            <div class="text-sm font-medium text-gray-600">Services</div>
                            <div class="text-base text-gray-900">{{ paymentDetails.services }}</div>
                        </div>

                        <div>
                            <div class="text-sm font-medium text-gray-600">Transaction ID</div>
                            <div class="text-base text-gray-900">{{ paymentDetails.transactionId }}</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Action Buttons -->
            <div class="flex gap-3 pt-4">
                <button *ngIf="billselectedIndex === 0" type="submit"
                    class="btn-primary h-12 max-w-[351px] !w-full">Next</button>
                <button *ngIf="billselectedIndex === 1 || billselectedIndex === 2" type="submit"
                    class="btn-primary h-12 max-w-[351px] !w-full">Confirm</button>
                <!-- <button *ngIf="billselectedIndex === 2" type="submit"
                    class="btn-primary h-12 max-w-[351px] !w-full">Confirm</button> -->
                <button type="button" *ngIf="billselectedIndex < 3" class="btn-ghost h-12  max-w-[88px] !w-full"
                    (click)="goToPreviousStep()">Cancel</button>
                <button *ngIf="billselectedIndex === 3" class="mt-6 btn-primary h-12 max-w-[351px] !w-full">
                    Download Invoice
                </button>
            </div>
        </form>
    </nz-tab>
    <nz-tab nzTitle="Scratches" [nzDisabled]="selectedIndex < 2">
        <div class="mt-14 grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4 ">
            <div class="rounded-xl mb-8 overflow-hidden">
                <div class="p-3.5 pb-5 flex items-start justify-between rounded-tl-xl rounded-tr-xl bg-gray-200 h-16">
                    <div class="w-fit">
                        <p class="text-[10] leading-3 text-black ">Scratch</p>
                        <h6 class="text-base font-medium font-Alexandria text-black">MTN Telecom</h6>
                    </div>
                    <span class="size-[18px] rounded-full">
                        <img src="../../../assets/images/icons/image.svg" alt="">
                    </span>
                </div>
                <div class="p-3.5 flex items-center gap-2 justify-between rounded-bl-xl rounded-br-xl  bg-black h-16">
                    <h3 class="text-2xl font-semibold font-Alexandria text-white" >
                        1,000.00
                    </h3>
                    <button class="h-full rounded-full w-28 bg-gray-50 text-primary text-sm font-semibold">
                        Buy
                    </button>
                </div>
            </div>
            <div class="rounded-xl mb-8 overflow-hidden">
                <div class="p-3.5 pb-5 flex items-start justify-between rounded-tl-xl rounded-tr-xl bg-gray-200 h-16">
                    <div class="w-fit">
                        <p class="text-[10] leading-3 text-black ">Scratch</p>
                        <h6 class="text-base font-medium font-Alexandria text-black">MTN Telecom</h6>
                    </div>
                    <span class="size-[18px] rounded-full">
                        <img src="../../../assets/images/icons/image.svg" alt="">
                    </span>
                </div>
                <div class="p-3.5 flex items-center gap-2 justify-between rounded-bl-xl rounded-br-xl  bg-black h-16">
                    <h3 class="text-2xl font-semibold font-Alexandria text-white" >
                        1,000.00
                    </h3>
                    <button class="h-full rounded-full w-28 bg-gray-50 text-primary text-sm font-semibold">
                        Buy
                    </button>
                </div>
            </div>
            <div class="rounded-xl mb-8 overflow-hidden">
                <div class="p-3.5 pb-5 flex items-start justify-between rounded-tl-xl rounded-tr-xl bg-gray-200 h-16">
                    <div class="w-fit">
                        <p class="text-[10] leading-3 text-black ">Scratch</p>
                        <h6 class="text-base font-medium font-Alexandria text-black">MTN Telecom</h6>
                    </div>
                    <span class="size-[18px] rounded-full">
                        <img src="../../../assets/images/icons/image.svg" alt="">
                    </span>
                </div>
                <div class="p-3.5 flex items-center gap-2 justify-between rounded-bl-xl rounded-br-xl  bg-black h-16">
                    <h3 class="text-2xl font-semibold font-Alexandria text-white" >
                        1,000.00
                    </h3>
                    <button class="h-full rounded-full w-28 bg-gray-50 text-primary text-sm font-semibold">
                        Buy
                    </button>
                </div>
            </div>
            <div class="rounded-xl mb-8 overflow-hidden">
                <div class="p-3.5 pb-5 flex items-start justify-between rounded-tl-xl rounded-tr-xl bg-gray-200 h-16">
                    <div class="w-fit">
                        <p class="text-[10] leading-3 text-black ">Scratch</p>
                        <h6 class="text-base font-medium font-Alexandria text-black">MTN Telecom</h6>
                    </div>
                    <span class="size-[18px] rounded-full">
                        <img src="../../../assets/images/icons/image.svg" alt="">
                    </span>
                </div>
                <div class="p-3.5 flex items-center gap-2 justify-between rounded-bl-xl rounded-br-xl  bg-black h-16">
                    <h3 class="text-2xl font-semibold font-Alexandria text-white" >
                        1,000.00
                    </h3>
                    <button class="h-full rounded-full w-28 bg-gray-50 text-primary text-sm font-semibold">
                        Buy
                    </button>
                </div>
            </div>
            <div class="rounded-xl mb-8 overflow-hidden">
                <div class="p-3.5 pb-5 flex items-start justify-between rounded-tl-xl rounded-tr-xl bg-gray-200 h-16">
                    <div class="w-fit">
                        <p class="text-[10] leading-3 text-black ">Scratch</p>
                        <h6 class="text-base font-medium font-Alexandria text-black">MTN Telecom</h6>
                    </div>
                    <span class="size-[18px] rounded-full">
                        <img src="../../../assets/images/icons/image.svg" alt="">
                    </span>
                </div>
                <div class="p-3.5 flex items-center gap-2 justify-between rounded-bl-xl rounded-br-xl  bg-black h-16">
                    <h3 class="text-2xl font-semibold font-Alexandria text-white" >
                        1,000.00
                    </h3>
                    <button class="h-full rounded-full w-28 bg-gray-50 text-primary text-sm font-semibold">
                        Buy
                    </button>
                </div>
            </div>
            <div class="rounded-xl mb-8 overflow-hidden">
                <div class="p-3.5 pb-5 flex items-start justify-between rounded-tl-xl rounded-tr-xl bg-gray-200 h-16">
                    <div class="w-fit">
                        <p class="text-[10] leading-3 text-black ">Scratch</p>
                        <h6 class="text-base font-medium font-Alexandria text-black">MTN Telecom</h6>
                    </div>
                    <span class="size-[18px] rounded-full">
                        <img src="../../../assets/images/icons/image.svg" alt="">
                    </span>
                </div>
                <div class="p-3.5 flex items-center gap-2 justify-between rounded-bl-xl rounded-br-xl  bg-black h-16">
                    <h3 class="text-2xl font-semibold font-Alexandria text-white" >
                        1,000.00
                    </h3>
                    <button class="h-full rounded-full w-28 bg-gray-50 text-primary text-sm font-semibold">
                        Buy
                    </button>
                </div>
            </div>
        </div>
    </nz-tab>
</nz-tabset>