<form [formGroup]="accountForm" (ngSubmit)="onSubmit()">
    <h1 class="font-semibold text-lg text-primary text-center mb-6 capitalize">sudani Telecom services </h1>

    <h6 class="font-medium text-sm text-primary mb-8 text-center">please select your account
    </h6>

    <nz-radio-group formControlName="accountType" class="grid grid-cols-1 gap-4 px-2">
        <div [ngClass]="{ 'opacity-100 bg-gray-50' : accountForm.get('accountType')?.value === 'Saving' , 'opacity-50' : accountForm.get('accountType')?.value !== 'Saving'}"
            (click)="accountForm.get('accountType')?.setValue('Saving')"
            class="py-2 px-7 rounded-md border cursor-pointer ">
            <label nz-radio nzValue="Saving" class="flex flex-row-reverse items-center w-full">
                <h6 class="font-medium text-xl text-primary">Saving Account</h6>
                <p class="font-light text-lg text-primary">CIF: 545875</p>
            </label>
        </div>

        <!-- Second Option -->
        <div [ngClass]="{ 'opacity-100 bg-gray-50' : accountForm.get('accountType')?.value === 'Current','opacity-50' : accountForm.get('accountType')?.value !== 'Current' }"
            (click)="accountForm.get('accountType')?.setValue('Current')"
            class="py-2 px-7 rounded-md border cursor-pointer ">
            <label nz-radio nzValue="Current" class="flex flex-row-reverse items-center w-full">
                <h6 class="font-medium text-xl text-primary">Current Account</h6>
                <p class="font-light text-lg text-primary">CIF: 123456</p>
            </label>
        </div>

        <!-- Third Option -->
        <div [ngClass]="{ 'opacity-100 bg-gray-50' : accountForm.get('accountType')?.value === 'Business','opacity-50' : accountForm.get('accountType')?.value !== 'Business' }"
            (click)="accountForm.get('accountType')?.setValue('Business')"
            class="py-2 px-7 rounded-md border cursor-pointer ">
            <label nz-radio nzValue="Business" class="flex flex-row-reverse items-center w-full">
                <h6 class="font-medium text-xl text-primary">Business Account</h6>
                <p class="font-light text-lg text-primary">CIF: 789012</p>
            </label>
        </div>
    </nz-radio-group>

    <div class="w-full max-w-[454px] mx-auto mt-7 ">
        <button class="h-12 w-full rounded-lg bg-black font-semibold capitalize text-white mb-6">
            Continue
        </button>
        <button class="h-12 w-full rounded-lg font-semibold bg-gray_50 capitalize text-black" (click)="closeModal()"
            type="button">
            cancel
        </button>
    </div>
</form>