<div class="mb-8" *ngIf="stepIndex === 0">
    <div class="flex flex-wrap justify-start gap-4">
        <button *ngFor="let provider of getFilteredProviders()" class="flex items-center gap-2"
            [class.opacity-40]="!provider.active" (click)="toggleProvider(provider)">
            <div class="flex h-12 w-12 items-center justify-center rounded-full" [ngClass]="provider.color">
                <img [src]="provider.src" alt="">
            </div>
            <span class="text-base font-medium">{{ provider.label }}</span>
        </button>
    </div>
</div>

<div *ngIf="selectedIndex === 0">
    <form [formGroup]="topForm" (ngSubmit)="onSubmit()">
        <div class="relative mb-6">
            <label class="block text-black font-normal text-sm mb-2">Enter Your Meter Number</label>
            <div class="flex items-center py-2 w-full max-w-[327px] border-b-2 border-solid transition-colors duration-300"
                [ngClass]="{
                    'border-red': f['number'].invalid && (f['number'].touched || submitted),
                    'border-[#FCD759]': f['number'].valid && f['number'].value,
                    'border-primary_dark': !f['number'].value && !f['number'].touched && !submitted
                }">
                <span [ngClass]="{
                        'text-red': f['number'].invalid && (f['number'].touched || submitted),
                        'text-[#FCD759]': f['number'].valid && f['number'].value,
                        'text-primary_dark': !f['number'].value
                    }">
                    <i class="fa-regular fa-bolt-lightning text-lg"></i>
                </span>
                <input type="text" formControlName="number"
                    class="ml-2 w-full outline-none text-lg text-gray-900 bg-transparent" placeholder="Enter number">
            </div>
            <div class="px-1 w-100 position-absolute mt-1">
                <small class="error text-red d-flex flex-column space-y-1.5"
                    *ngIf="f['number'].invalid && (f['number'].touched || submitted)">
                    <span *ngIf="f['number'].errors?.['required']">This Field is required</span>
                </small>
            </div>
        </div>

        <div class="relative mt-12">
            <nz-select [(ngModel)]="selectedValue"
                class="select-number w-full max-w-[390px] h-[48px] items-center flex">
                @for (option of listOfOption; track option) {
                <nz-option [nzLabel]="option" [nzValue]="option"></nz-option>
                }
            </nz-select>
        </div>

        <div class="flex gap-3 pt-16">
            <button type="submit" class="btn-primary  h-12 max-w-[351px] !w-full">Next</button>
            <button type="button" class="btn-ghost h-12  max-w-[88px] !w-full" (click)="topForm.reset()">Cancel</button>
        </div>
    </form>
</div>

<div *ngIf="isFirstFormValid && selectedIndex === 1">
    <form [formGroup]="BillForm" (ngSubmit)="onBillSubmit()">

        <div *ngIf="stepIndex === 0">
            <nz-select formControlName="fournumber" [(ngModel)]="selectedValue"
                class="select-number w-full h-[48px] items-center flex">
                @for (option of listOfOption; track option) {
                <nz-option [nzLabel]="option" [nzValue]="option"></nz-option>
                }
            </nz-select>
            <div class="w-full bg-gray-50 px-2 py-4 rounded-lg mt-6 flex justify-center">
                <app-opt [showMessage]="false"></app-opt>
            </div>
        </div>

        <div *ngIf="stepIndex === 1" class="w-full bg-gray-50 px-2 py-4 rounded-lg mt-6 !top-0">
            <app-payment-details></app-payment-details>
        </div>

        <div class="flex gap-3 pt-4">
            <button *ngIf="stepIndex === 0" type="submit" class="btn-primary h-12 max-w-[351px] !w-full"
                (click)="onConfirm()">
                Confirm
            </button>

            <button *ngIf="stepIndex === 0" type="button" class="btn-ghost h-12 max-w-[88px] !w-full"
                (click)="goToPreviousStep()">Cancel
            </button>

            <button *ngIf="stepIndex === 1" class="mt-6 btn-primary h-12 max-w-[351px] !w-full">
                Download Invoice
            </button>
        </div>
    </form>
</div>