<div class="custom-table mb-7">
    <nz-table #headerTable [nzData]="listOfData" nzShowPagination="false" [nzScroll]="{ y: '500px' }">
        <thead>
            <tr>
                <th>Amount</th>
                <th>Status</th>
                <th>Date</th>
                <th>Description</th>
                <th>services</th>
                <!-- <th nzWidth="84px"></th> -->
            </tr>
        </thead>
        <tbody>
            @for (data of headerTable.data; track data) {
            <tr>
                <td>
                    ${{ data.amount }}
                </td>
                <td>
                    <div class="font-normal h-9 rounded-md min-w-[106px] px-2.5 w-full py-0.5 flex gap-1 items-center justify-start"
                        [ngClass]="statusBasedBg(data.status)">
                        <i [ngClass]="statusBasedIcon(data.status)"></i>
                        {{ data.status }}
                    </div>
                </td>
                <td>
                    {{ data.date }}
                </td>
                <td>
                    {{ data.description }}
                </td>
                <td>
                    {{ data.service }}
                </td>
                <!-- <td>

                    <a nz-dropdown [nzDropdownMenu]="menu">
                        <i class="fa-solid fa-ellipsis text-Highlight text-lg"></i>
                    </a>
                    <nz-dropdown-menu #menu="nzDropdownMenu">
                        <ul nz-menu nzSelectable>
                            <li nz-menu-item>1st menu item</li>
                            <li nz-menu-item>2nd menu item</li>
                            <li nz-menu-item>3rd menu item</li>
                        </ul>
                    </nz-dropdown-menu>

                </td> -->
            </tr>
            }
        </tbody>
    </nz-table>
</div>