<section>
    <div id="step-1">

        <h1 class="font-semibold text-lg text-primary text-center capitalize mb-11">electricity services</h1>


        <div class="max-w-[445px] w-full mx-auto space-y-3.5">

            <div class="detail flex justify-between items-center">
                <h6 class="text-base font-medium uppercase text-primary">
                    cIF NO :
                </h6>
                <p class="text-base font-normal text-primary text-right max-w-[60%] min-w-fit w-full">
                    24544454
                </p>
            </div>
            <div class="detail flex justify-between items-center">
                <h6 class="text-base font-medium uppercase text-primary">
                    IBAN NO :
                </h6>
                <p class="text-base font-normal text-primary text-right max-w-[60%] min-w-fit w-full">
                    245442121454
                </p>
            </div>
            <div class="detail flex justify-between items-center">
                <h6 class="text-base font-medium uppercase text-primary">
                    SWIFT NO :
                </h6>
                <p class="text-base font-normal text-primary text-right max-w-[60%] min-w-fit w-full">
                    245123144454
                </p>
            </div>
            <div class="detail flex justify-between items-center">
                <h6 class="text-base font-medium uppercase text-primary">
                    holder name :
                </h6>
                <p class="text-base font-normal text-primary text-right max-w-[60%] min-w-fit w-full">
                    ahmed omer khalid
                </p>
            </div>
            <div class="detail flex justify-between items-center">
                <h6 class="text-base font-medium uppercase text-primary">
                    bank branch :
                </h6>
                <p class="text-base font-normal text-primary text-right max-w-[60%] min-w-fit w-full">
                    khartoum 2
                </p>
            </div>
        </div>

        <div class="w-full max-w-[358px] mx-auto mt-11">
            <button class="h-12 w-full rounded-lg bg-black font-semibold capitalize text-white mb-6" (click)="openType()">
                Continue
            </button>
            <button class="h-12 w-full rounded-lg font-semibold bg-gray_50 capitalize text-black" (click)="closeModal()"
                type="button">
                cancel
            </button>
        </div>


    </div>
</section>