<div class="p-4 bg-gray-50 rounded-xl relative">
    <button class="rounded-lg p-3 bg-gray-200">
        <i class="fa-solid fa-arrow-left"></i>
        <span class="text-base font-semibold ml-4">Back</span>
    </button>
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-4 lg:gap-[106px] mb-4">

        <!-- Left Sections -->
        <div class="flex-1 space-y-4 lg:col-span-2 w-full min-h-full">

            

        </div>

        <!-- Right Section -->
        <div
            class="lg:w-80 flex-shrink-0 flex flex-col lg:col-span-1 justify-between relative bg-white rounded-lg h-full py-4 px-2 shadow-custom min-h-full">


        </div>

    </div>

    <!-- Info Message -->
    <div class="flex items-center justify-start gap-3 bg-gray_200 py-6 h-[70px] px-3 rounded-lg ">
        <i class="fa-light fa-circle-exclamation text-black"></i>
        <p class="text-xs text-black">You Can Make Quick Transfer By Clicking On The Following</p>
    </div>
</div>